<div class="blog-wrapper">
    <!-- ko ifnot: isLoggedIn() -->
    <div class="blog-form">
        <div class="blog-form-login">
            <!-- ko foreach: getRegion('login') -->
                <!-- ko template: getTemplate() --><!--/ko-->
            <!--/ko-->
        </div>
    </div>
    <!-- /ko -->

    <!-- ko if: isLoggedIn() -->
    <div class="blog-content">
        <!-- ko foreach: getRegion('blogGreet') -->
            <!-- ko template: getTemplate() --><!--/ko-->
        <!--/ko-->
    </div>
    <!-- /ko -->
</div>
