<div class="blog-wrapper">
    <!-- ko ifnot: isLoggedIn() -->
    <div class="blog-form">
        <div class="form-title">
            <h2 data-bind="i18n: 'You have to be logged to see the content.'"></h2>
        </div>

        <div class="blog-form-login">
            <!-- ko foreach: getRegion('login') -->
                <!-- ko template: getTemplate() --><!--/ko-->
            <!--/ko-->
        </div>
    </div>
    <!-- /ko -->

    <!-- ko if: isLoggedIn() -->
    <div class="blog-content">
        <!-- ko foreach: getRegion('blogGreet') -->
            <!-- ko template: getTemplate() --><!--/ko-->
        <!--/ko-->
    </div>
    <!-- /ko -->
</div>
