<div class="login-container">
    <div class="login-form-title">
        <h3 data-bind="i18n: 'Login'"></h3>
    </div>

    <div class="login-form-container">
        <form class="login-form">
            <div class="field name required">
                <label for="name" class="label" data-bind="i18n: 'Name'"></label>
                <div class="control">
                    <input type="text" class="input" id="name"/>
                </div>
            </div>
            <div class="field password required">
                <label for="password" class="label" data-bind="i18n: 'Password'"></label>
                <div class="control">
                    <input type="password" class="input" id="password"/>
                </div>
            </div>

            <div class="action action-login">
                <button class="button">
                    <a href="" data-bind="i18n: 'Sign in'"></a>
                </button>
            </div>
        </form>
    </div>
</div>
