<div class="register-container">
    <div class="register-form-title">
        <h3 data-bind="i18n: 'Temporary registration'"></h3>
    </div>

    <div class="register-form-container">
        <form class="register-form" id="register-form" data-bind="submit: sendForm, mageInit: {'validation': {}}" action="#" enctype="multipart/form-data" autocomplete="off">
            <div class="field name required">
                <label for="username" class="label" data-bind="i18n: 'Username'"></label>
                <div class="control">
                    <input type="text"
                           class="input"
                           id="username"
                           data-validate="{required: true}"
                           data-bind="value: username"/>
                </div>
            </div>
            <div class="field email required">
                <label for="email" class="label" data-bind="i18n: 'Email'"></label>
                <div class="control">
                    <input type="email"
                           class="input"
                           id="email"
                           data-validate="{required: true, 'validate-email': true}"
                           data-bind="value: email"/>
                </div>
            </div>
            <div class="field password required">
                <label for="password" class="label" data-bind="i18n: 'Password'"></label>
                <div class="control">
                    <input type="password"
                           class="input"
                           id="password"
                           autocomplete="off"
                           data-validate="{required: true, 'validate-customer-password': true}"
                           data-bind="value: password"/>
                </div>
            </div>
            <div class="field password-confirm required">
                <label for="password-confirm" class="label" data-bind="i18n: 'Password confirm'"></label>
                <div class="control">
                    <input type="password"
                           class="input"
                           id="password-confirm"
                           autocomplete="off"
                           data-validate="{required: true, equalTo: '#password''}"
                           data-bind="value: passwordConfirm"/>
                </div>
            </div>

            <div class="action action-register">
                <button class="button">
                    <span data-bind="i18n: 'Sign up'"></span>
                </button>
            </div>
        </form>
    </div>
</div>
